<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/" title="Home page">Titles</a></li>
        <li><a href="/" title="Home page">Offical Rules</a></li>
        <li><a href="/" title="Home page">Future Game</a></li>
    </ul>
</nav>