<nav id="navi">
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/user/titles" title="Titles">Titles</a></li>
        <li><a href="/user/rules" title="Offical Rules">Offical Rules</a></li>
        <li><a href="/user/fg" title="Future Game">Future Game</a></li>
    </ul>
</nav>