<h1>Welcome to Pokemon Champions League!</h1>
<section class="grid-container">
  <div>
    <section>
      <h1 id="champion">Champion</h1>
      <img id="pokemon-type-1" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-2" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-3" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-4" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-5" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-6" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-7" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="Runner-up">Runner-up</h1>
      <img id="pokemon-type-8" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-9" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-10" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-11" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-12" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-13" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="Loser">Loser</h1>
      <img id="pokemon-type-14" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-15" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-16" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-17" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-18" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="gen_format"></h1>
    </section>
    <button onclick="changeImageSource()">randomize types</button>
  </div>
  <div id="registerContainer">
    <%- grid %>
    <form id="resgisterForm" action="/" method="post">
     <h1 class="grave" for="gallery">Adding Pokemons:</h1>
      <div class="row">
        <!--<div class="col-75"><textarea name="gallery" id="gallery" type="text" style="height:200px" placeholder="Write the pokemons names.." required></textarea></div>-->
        <label for="normalType">Normal Type:</label>
        <input type="text" id="normalType" name="normalType"><br><br>
        
        <label for="fireType">Fire Type:</label>
        <input type="text" id="fireType" name="fireType"><br><br>
        
        <label for="waterType">Water Type:</label>
        <input type="text" id="waterType" name="waterType"><br><br>
        
        <label for="electricType">Electric Type:</label>
        <input type="text" id="electricType" name="electricType"><br><br>
        
        <label for="grassType">Grass Type:</label>
        <input type="text" id="grassType" name="grassType"><br><br>
        
        <label for="iceType">Ice Type:</label>
        <input type="text" id="iceType" name="iceType"><br><br>
        
        <label for="fightingType">Fighting Type:</label>
        <input type="text" id="fightingType" name="fightingType"><br><br>
        
        <label for="poisonType">Poison Type:</label>
        <input type="text" id="poisonType" name="poisonType"><br><br>
        
        <label for="groundType">Ground Type:</label>
        <input type="text" id="groundType" name="groundType"><br><br>
        
        <label for="flyingType">Flying Type:</label>
        <input type="text" id="flyingType" name="flyingType"><br><br>
        
        <label for="psychicType">Psychic Type:</label>
        <input type="text" id="psychicType" name="psychicType"><br><br>
        
        <label for="bugType">Bug Type:</label>
        <input type="text" id="bugType" name="bugType"><br><br>
        
        <label for="rockType">Rock Type:</label>
        <input type="text" id="rockType" name="rockType"><br><br>
        
        <label for="ghostType">Ghost Type:</label>
        <input type="text" id="ghostType" name="ghostType"><br><br>
        
        <label for="dragonType">Dragon Type:</label>
        <input type="text" id="dragonType" name="dragonType"><br><br>
        
        <label for="darkType">Dark Type:</label>
        <input type="text" id="darkType" name="darkType"><br><br>
        
        <label for="steelType">Steel Type:</label>
        <input type="text" id="steelType" name="steelType"><br><br>
        
        <label for="fairyType">Fairy Type:</label>
        <input type="text" id="fairyType" name="fairyType"><br><br>
      </div> 
      <div class="row">
        <button type="submit">Add Pokemons</button>
      </div>   
    </form>
  </div>
</section>
<script src="../../js/script.js"></script>
