<h1>Welcome to Pokemon Champions League!</h1>
<section class="grid-container">
  <div>
    <section>
      <h1 id="champion">Champion</h1>
      <img id="pokemon-type-1" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-2" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-3" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-4" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-5" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-6" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-7" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="Runner-up">Runner-up</h1>
      <img id="pokemon-type-8" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-9" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-10" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-11" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-12" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-13" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="Loser">Loser</h1>
      <img id="pokemon-type-14" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-15" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-16" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-17" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
      <img id="pokemon-type-18" class="pokemon-type" src="/images/vehicles/pokeball.png" alt="pokemon-type">
    </section>
    <section>
      <h1 id="gen_format"></h1>
    </section>
    <button onclick="changeImageSource()">randomize types</button>
  </div>
  <div id="registerContainer">
    <%- grid %>
    <form id="resgisterForm" action="/" method="post">
      <div class="row">
        <div class="col-25"><label class="grave" for="gallery">Adding Pokemons:</label></div>
        <div class="col-75"><textarea name="gallery" id="gallery" type="text" style="height:200px" placeholder="Write the pokemons names.." required></textarea></div>
      </div> 
      <div class="row">
        <button type="submit">Add Pokemons</button>
      </div>   
    </form>
  </div>
  
</section>
<script src="../../js/script.js"></script>
